.context-manager-wizard-menu,
.context-manager-wizard-form {
  float: left;
  border: 1px solid #bfbfba;
  box-sizing: border-box;
}

.context-manager-wizard-menu {
  width: 20%;
  border-right: none;
}

.context-manager-wizard-form {
  width: 80%;
  padding: 15px;
  margin-bottom: 20px;
  min-height: 200px;
}

.context-manager-wizard-form-actions {
  margin-left: 20%;
}

.context-manager-ruleset-items .ruleset-label,
.context-manager-plugin-items .plugins-label {
  padding: 5px 10px;
  background: #e6e4df;
  font-weight: bold;
}

.context-manager-ruleset-items .ruleset-item,
.context-manager-plugin-items .plugins-item {
  padding: 5px 10px 5px 20px;
  border-bottom: 1px solid #e6e4df;
}
